body{
    background-color: #222831;
}

h1, h2, h3, h4, h5, h6{
    color: #eeeeee;
    font-family: 'montserrat';
}

.header{
    font-size: 5rem;
    font-size: 3.5vw;
    font-weight:300;
}

input{
    color: #222831;
    font-size: 1.63rem;
    text-align: center;
}

button{
    background-color: #00adb5;
    color: #eeeeee;
    /* font-size: 36%; */
    text-align: center;
}

.input-item{
    font-size: 100%;
    border-radius: 40px;
    padding: 2.5% 0;
    height: auto;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-style: none;
}

.menu-item{
    padding: 5% 0;
    font-family: 'montserrat', sans-serif;
}

.item{
    text-align: center;
}

.text-items{
    padding-top: 2.5%;
}

.small{
    width: 40%;
}